.navbar-brand{
  margin-right:20rem;
}
.form-control{
  padding-right:20rem;
}
.line{
  height:3px;
  background-color:black;
}
.adidas{
  width:100%;
  padding-right:5%;
}
.reebok{
  padding-top:5%;
  padding-left:10%;
  padding-right:10%;
  width:100%;
  height:480px;
}
.puma{
  width:100%;
  padding-top:5%;
  padding-left:10%;
  padding-right:10%;
  height:480px;
}
.text{
  text-align:center;
}
.card{
  height:520px;
}

#newsletter{
  background-color:black;
  color:white;
}

.container-fluid{
  padding-top:10px;
}
.r{
  padding-top:10px;
  padding-left:380px;
  background-color:black;
}

@media (max-width:1080px){
  #adidas,#puma,#reebok{
    align:center;
    text-align:center;
  }
  #adidas,#puma,#reebok,img{
    width:100%;
  }
  .navbar-brand{
    width:70px;
    height:70px;
  }
  #newsletter{
    align:center;
    text-align:center;
  }
  .social{
    width:16px;
  }

}
